body {
    background-color: cornflowerblue;
    color: white;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    align-content: center;
}

.container-horiz {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#junimo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.junimo {
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
}

/* .junimo:hover {
    transform: translateY(-50px);
    transition: 0.3s ease-in;
} */


/* Junimo and Stardrop icons via: https://www.pixilart.com/art/blue-junimo-710824ab6d23cd3 */
#red {
    background-image: url('images/red-junimo.png');
}

#yellow {
    background-image: url('images/yellow-junimo.png')
}

#blue {
    background-image: url('images/blue-junimo.png')
}

#purple {
    background-image: url('images/purple-junimo.png')
}

#green {
    background-image: url('images/green-junimo.png')
}

.stardrop {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    background-image: url('images/stardrop.png')
}