/* Stardew Valley copyright 2016-2021 ConcernedApe LLC. Art and concept by Eric Barrone. */
/* Junimo and Stardrop icons via @EeveeKevin: https://www.pixilart.com/eeveekevin . */

/* Fonts: */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    background-color: cornflowerblue;
    color: white;
    
}

h1 {
    font-size: 3em;
    padding: 10px 0px 50px 0px;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    align-content: center;
}

.container-horiz {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#junimo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#difficulty-selection {
    padding: 50px;
}

.junimo {
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
}

.difficulty-box {
    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    
}

.difficulty-box p {
display: none;
font-size: 1.5em;
}

.difficulty-junimo {
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    font-size: 2em;
    overflow-wrap: break-word;
    font-family: 'Permanent Marker', cursive;
    color: black;
}

#red {
    background-image: url('images/red-junimo.png');
}

#yellow {
    background-image: url('images/yellow-junimo.png')
}

#blue {
    background-image: url('images/blue-junimo.png')
}

#purple {
    background-image: url('images/purple-junimo.png')
}

#green {
    background-image: url('images/green-junimo.png')
}

.stardrop {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    background-image: url('images/stardrop.png')
}

#red-diff {
    background-image: url('images/red-junimo.png');
}

#yellow-diff {
    background-image: url('images/yellow-junimo.png')
}

#purple-diff {
    background-image: url('images/purple-junimo.png')
}

#green-diff {
    background-image: url('images/green-junimo.png')
}

.outcome {
    width: 500px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 450px;
}

#win {
    background-image: url('images/stardrop.png')
}

#lose {
    background-image: url('images/lose-icon.png')
}

#prairie-king-lose {
background-image: url('images/prairie-icon.png')
}

#timer-box {
    display: none;
}

.concerned-ape {
    padding: 100px;
}

.rules-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}

#rules {
    background-image: url('images/blue-junimo.png');
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
    text-align: center;
    display: flex;
    /* flex-wrap: wrap; */
    align-items:center;
    justify-content: center;
    font-size: 4em;
    /* overflow-wrap: break-word; */
    font-family: 'Permanent Marker', cursive;
    color: black;
}

#rules-description{
   display: none;
}